.content {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  margin-left: 60px;
  gap: 40px;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.financial-overview,
.summary,
.transactions-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.financial-overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}

.financial-overview h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.financial-overview table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
}

.text-center {
  text-align: center;
}

.financial-overview input[type="number"] {
  width: 55%; 
  height: 75%;
  margin: 0 auto; 
  display: block; 
}

.financial-overview th,
.financial-overview td {
  padding: 8px;
  padding-left: 30px;
  text-align: left;
  font-weight: bold;
  border: none;
}

.financial-overview th {
  background-color: #fff;
  font-weight: bold;
  color: #555;
}

.financial-overview td {
  border: none;
  color: #666;
}

.financial-overview tbody tr:first-child td {
  border-bottom: 1px solid #f0f0f0;
}

.financial-overview tbody tr:last-child td {
  border-top: 1px solid #f0f0f0;
}

/* For Chrome, Safari, Edge, Opera */
.financial-overview input[type="number"]::-webkit-inner-spin-button,
.financial-overview input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Remove default arrows in WebKit browsers */
  margin: 0; /* Remove default spacing */
}

/* For Firefox */
.financial-overview input[type="number"]::-moz-focus-inner,
.financial-overview input[type="number"]::-moz-range-track {
  -moz-appearance: none; /* Remove default arrows in Firefox */
}

/* For IE11 and MS Edge legacy (if needed) */
.financial-overview input[type="number"]::-ms-clear,
.financial-overview input[type="number"]::-ms-reveal {
  display: none; /* Remove IE-specific clear button and reveal password button */
}


.summary {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summary h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.summary-details {
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 1.2em;
  color: #666;
}

.summary-details p {
  margin: 0;
  font-weight: normal;
}

.transactions-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.transaction-form {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: calc(100% - 50px);
}

.transaction-form .form-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.transaction-form .form-row {
  display: flex;
  width: 100%;
  gap: 10px;
}

.transaction-form .title-input,
.transaction-form .category-input,
.transaction-form .description-input,
.transaction-form .amount-input {
  padding: 10px;
  border-radius: 25px;
  border: none;
  font-size: 1em;
}

.transaction-form .date-input {
  padding-left: 10px;
  border-radius: 25px;
  border: none;
  font-size: 1em;
}

.transaction-form .title-input,
.transaction-form .date-input {
  flex: 1;
  height: 25px;
}

.transaction-form .title-input {
  margin-right: 50px;
}

.transaction-form .category-input {
  width: calc(100% / 3);
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  font-size: 1em;
  border-radius: 25px;
  border: none;
  background-color: #fff;
  color: #333;
}

.transaction-form .amount-input {
  flex: right;
  width: calc(100% / 3);
  height: calc(2.5 * 1.5em);
}

.transaction-form .description-input {
  flex: 1;
  width: calc(100% / 3) * 2;
  height: calc(2.5 * 1.5em);
}

.add-button {
  background-color: transparent;
  color: #000;
  font-size: 3.5em;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -55px;
  top: 40%;
  transform: translateY(-50%);
}

.add-button:hover {
  background-color: transparent;
}

.add-button:active {
  background-color: transparent;
}

.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transaction-item {
  background-color: #9731b1;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

  padding: 10px;
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.transaction-header h4 {
  margin: 0;
  font-size: 1em;
}

.transaction-buttons {
  display: flex;
  gap: 10px;
}

.transaction-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #fff;
}

.transaction-buttons .edit-button {
  color: #ffc107;
}

.transaction-buttons .delete-button {
  color: #f44336;
}

.transaction-item p {
  margin: 10px 0 0 0;
  padding: 10px;
  color: black;
  background-color: white;
  border-radius: 15px;
  font-size: 0.9em;
}
