.content {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  margin-left: 60px; 
  gap: 40px;
}

.left-section, .right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.financial-overview, .summary, .transactions-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.financial-overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; 
  padding: 10px;
  box-sizing: border-box; 
}

.financial-overview h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px; 
  font-weight: bold;
  text-align: center; 
}

.financial-overview table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
}

.financial-overview th, .financial-overview td {
  padding: 4px;
  padding-left: 30px;
  text-align: left;
  font-weight: bold;
  border: none; 
}

.financial-overview th {
  background-color: #fff;
  font-weight: bold;
  color: #555;
}

.financial-overview td {
  border: none;
  color: #666;
}

.financial-overview tbody tr:first-child td {
  border-bottom: 1px solid #f0f0f0;
}

.financial-overview tbody tr:last-child td {
  border-top: 1px solid #f0f0f0;
}

.summary {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summary h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.summary-details {
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 1.2em;
  color: #666;
}

.summary-details p {
  margin: 0;
  font-weight: normal;
}

.transactions-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.transaction-form {
  background-color: #a142f4;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: calc(100% - 60px); /* Adjust width to make space for the button */
}

.transaction-form .form-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.transaction-form .form-row {
  display: flex;
  width: 100%;
  gap: 10px;
}

.transaction-form .title-input,
.transaction-form .date-input,
.transaction-form .category-input,
.transaction-form .description-input,
.transaction-form .amount-input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1em;
}

.transaction-form .title-input,
.transaction-form .date-input,
.transaction-form .category-input {
  flex: 1;
}

.transaction-form .description-input {
  flex: 2;
}

.transaction-form .amount-input {
  flex: 0.5;
}

.add-button {
  background-color: #000;
  color: #fff;
  font-size: 1.5em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -6%; /* Position button outside the purple section */
  top: 50%;
  transform: translateY(-50%);
}

.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transaction-item {
  background-color: #7a00ff;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: #4c00b0;
  padding: 10px;
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.transaction-header h4 {
  margin: 0;
  font-size: 1em;
}

.transaction-buttons {
  display: flex;
  gap: 10px;
}

.transaction-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #fff;
}

.transaction-buttons .edit-button {
  color: #ffc107;
}

.transaction-buttons .delete-button {
  color: #f44336;
}

.transaction-item p {
  margin: 10px 0 0 0;
  padding: 10px;
  background-color: #5a00e5;
  border-radius: 0 0 15px 15px;
  font-size: 0.9em;
}
