/* App page specific styling */

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 60px; /* To account for the navbar */
}

.thumbnail {
  width: 150px;
  height: 150px;
}
