.task-manager-container {
  display: flex;
  box-sizing: border-box;
  gap: 20px;
  padding-left: 10%;
  padding-top: 3%;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-section {
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5% 2%;
  height: 95vh;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-form form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* TODO: Some issues found here */
.task-form input {
    flex: 1;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ddd;
    margin: 10px;
}

.form-left {
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
  background-color: #f6d0ee;
}

.form-right {
  text-align: center;
  margin-left: 10px;
  background-color: white;
}

.category {
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
}

.description {
  width: 97%;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-list p {
  background-color: white;
  border-radius: 30px;
  padding: 8px;
  padding-left: 15px;
  align-items: center;
}

.task-item {
  background-color: #f6d0ee;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-date {
  color: #a139a2;
  flex: 1;
}

.task-title {
  flex: 2;
  text-align: left;
  padding-left: 10px;
}

.task-buttons {
  display: flex;
  gap: 5px;
}

.category-label {
  background-color: #4caf50;
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 0.9em;
  width: 100px;
  text-align: center;
  box-sizing: border-box;
}

.edit-button,
.delete-button,
.task-complete {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.edit-button {
  color: #1f1f1f;
}

.delete-button {
  color: #1f1f1f;
}

.badges,
.missions {
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 70%;
}

.badges img {
  width: 100px;
  height: auto;
}

.badges img:hover {
    background-color: #F6D0EE;
    cursor: pointer;
    border-radius: 35px;
}

.badges img:hover {
    background-color: #F6D0EE;
    cursor: pointer;
    border-radius: 35px;
}

.badges h1{
  padding-left: 10%;
}

.help-button {
  right: 0;
  color: white;
  border-style: none;
  border-radius: 100%;
  background-color: #e29dd4;
}

.mission-content {
  text-align: left;
  padding: 5% 10%;
  font-size: 12px;
}
