button {
  background-color: #a139a2;
}

button p {
  font-size: 12px;
}

.more-info {
  height: 26px;
}

.carousel-caption {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: rgba(226, 157, 212, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  text-align: center;
  white-space: normal;
}

.carousel-caption h3 {
  color: #6248a8;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.carousel-caption p {
  color: #000000;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  line-height: 1.5;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #a139a2;
  padding: 25px;
  opacity: 100%;
  border-radius: 15px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: #a139a2;
  opacity: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
}

.overlay-content h3 {
  margin-top: 0;
}

.overlay-content button {
  margin-top: 20px;
}
