.photoAlbum {
    height:250px;
    width: 250px;
    border-radius: 25px;
    /* padding: 10px; */
}

.photoModal {
    height:250px;
    width:250px;
}

.left {
    padding-left: 250px;
}

.heading {
    background-color: blueviolet;
    color:azure;
    display:inline-block;
    padding: 5px;
    border-radius: 10px;
    margin-left: 15px;
}

.slider {
    position: relative;
    width: 90%; 
    
}

.slider .slick-prev:before, 
.slider .slick-next:before {
    color:blueviolet;  
    font-size: 25px; 
}

.slider .slick-prev, 
.slider .slick-next {
    display: block; 
    z-index: 1; 
}

.slider .slick-prev {
    left: -40px; 
}

.slider .slick-next {
    right: -15px; 
}