.photoAlbum {
    height:250px;
    width: 250px;
    border-radius: 25px;
    padding: 10px;
}

.photoModal {
    height:250px;
    width:250px;
}

.left {
    padding-left: 150px;
}

.heading {
    background-color: blueviolet;
    color:azure;
    display:inline-block;
    padding: 5px;
    border-radius: 10px;
    margin-left: 15px;
}