.login {
  background-color: #f6d0ee;
  padding-left: 30px;
}

#logo {
  height: 50px;
  width: 50px;
}

.rocket-container {
  bottom: 150px;
}

#rocket {
  height: 350px;
  width: 350px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: auto;
  border: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.disclaimer {
  font-size: 12px;
}

/* RESPONSIVENESS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #rocket {
    height: 150px;
    width: 150px;
  }

  .rocket-container {
    bottom: 250px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #rocket {
    height: 150px;
    width: 150px;
  }

  .rocket-container {
    bottom: 250px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #rocket {
    height: 350px;
    width: 350px;
  }

  .rocket-container {
    bottom: 100px;
  }

  .login-message {
    padding-left: 250px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #rocket {
    height: 400px;
    width: 400px;
  }

  .rocket-container {
    bottom: 80px;
  }

  .login-message {
    padding-left: 250px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #rocket {
    height: 450px;
    width: 450px;
  }

  .rocket-container {
    bottom: 50px;
  }

  .login-message {
    padding-left: 300px;
  }
}
